<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="/app/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="flex flex-col items-center mb-30">
        <h1 class="text-3xl font-extrabold relative custom-title-border">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-red-600 to-yellow-600">LUCAS MARINS</span>
        </h1>         
        <p class="text-lg font-bold text-white lg:text-xl dark:text-gray-300 relative custom-text-border">
            Desenvolvimento de Software
        </p>
        
    </header>

    <main>
        <!-- Seu conteúdo principal aqui -->
    </main>

    <footer>
        <!-- Seu conteúdo de rodapé aqui -->
    </footer>
</body>
</html>
